<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<specFlow>
		<unitTestProvider name="SpecRun" />
		<runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive" />
		<runtimeSettings stopAfterFirstError="false" skipParallelizableFeature="false" stopOnFail="false" />
		<generator allowDebugGeneratedFiles="false" />
	</specFlow>
</configuration>