<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, 
     TechTalk.SpecFlow" />
	</configSections>
	<specFlow>
		<!-- For additional details on SpecFlow 
       configuration options see http://go.specflow.org/doc-config -->
		<unitTestProvider name="MsTest.v2" />
	</specFlow>

		<appSettings>
			<!--Cross Browser Settings-->
			<add key="RunCrossBrowserTests" value="True" />
			<add key="SauceLabsUsername" value="gauravsingh" />
			<add key="SauceLabsAccessKey" value="8122ef77-df77-47b3-b5f8-a64c6868a1b2" />
			<add key="SauceLabsbuild" value="ParallelExecution" />
			<add key="SauceLabsCommandTimeout" value="60" />
			<add key="ChromeBrowserPlatform" value="Windows 10" />
			<add key="ChromeBrowserVersion" value="latest" />
			<add key="EdgeBrowserPlatform" value="Windows 10" />
			<add key="EdgeBrowserVersion" value="latest" />
			<add key="SafariBrowserPlatform" value="macOS 13" />
			<add key="SafariBrowserVersion" value="latest" />
		</appSettings>	
</configuration>